.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
}

.color-preview {
	width: 2em;
	height: 2em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview:hover {
	outline: inset white;
}

.color-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	margin: auto 2px;
}

.color-input {
	display: block;
	flex: 1;
	width: 50%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
	margin: 0 1%;
	border: 1px solid var(--vscode-input-border);
}

